<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @articles3.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @articles3.description %>
</p>

<%= link_to 'Edit', edit_articles3_path(@articles3) %> |
<%= link_to 'Back', articles3s_path %>
